{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="icon" type="image/png" sizes="64x64" href="{{ site.baseurl }}/images/logo.png">
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<meta name="theme-color" content="#ffffff"/>
<meta name="description" content="Macrophage Biology & Neuroimmunology Lab at Sapienza University of Rome studying macrophage heterogeneity, neuroimmune interactions, and functional genomics.">

<meta name="keywords" content="macrophage biology, neuroimmunology, microglia, CRISPR, functional genomics">

<meta name="author" content="Alessandro Palma">
<meta name="google-site-verification" content="oPMaHxHBqXhYxkWGsG8817-BjNtOZBpGzP2_w9uOYQA" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-98ZRRPN3J7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-98ZRRPN3J7');
</script>

<!-- end custom head snippets -->
